@use 'styles/typography';

.statusCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 8px;
  padding: 5px 5px;
  height: auto;
}

.MainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.ColourIndicator {
  width: 8px;
  border-radius: 2px;
}

.CardInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
}

.LineStatusText {
  @include typography.BodyOne;
}

.StatusSeverityDescription {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.ExpandableContent {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.DetailsText {
  @include typography.subtitleOne;
  text-align: left;
}

.TopContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DetailsButton {
  border: none;
  height: auto;
  background-color: transparent;
}
