.ButtonGrid {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.Icon {
  color: var(--appColour);
  font-size: 18px;
}