@use './styles/typography';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --appColour: #1D6333;
  --bakerloo:  #B36305;
  --central: #E32017;
  --circle: #FFD300;
  --district: #00782A;
  --hammersmith-city: #F3A9BB;
  --jubilee: #A0A5A9;
  --metropolitan: #9B0056;
  --northern: #000000;
  --piccadilly: #003688;
  --victoria: #0098D4;
  --waterloo-city: #95CDBA;
  --dlr: #00A4A7;
  --london-overground: #EE7C0E;
  --elizabeth: #7156A5;
  --tram: #84B817;
  --liberty: #5d6061;
  --mildmay: #0077ad;
  --lioness: #faa61a;
  --city-cruises: #E32017;
  --woolwich-ferry: #f7931d;
  --thames-river-services: #2a2e98;
  --rb1: #2d3039;
  --rb2: #0072bc;
  --rb4: #61c29d;
  --rb6: #df64b0;
  --bus: #E32017;
}


* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
